<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens android:normalScreens="true"
        android:smallScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"/>

    <application android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".MainActivity"
            android:noHistory="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <!--      <service
                         android:name=".oldclasses.IntentServiceIsOnline"
                         android:exported="false"/>
                     <service android:name=".oldclasses.SimpleJobIntentService"
                         android:permission="android.permission.BIND_JOB_SERVICE"/>
                     <service android:name=".oldclasses.Worker"
                         android:permission="android.permission.BIND_JOB_SERVICE"/>

              -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/APPLICATION_ADS_ID"/>
    </application>

</manifest>